<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>ToDoList with Vue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- PER LA VISUALIZZAZIONE -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- PER VUE 2 -->

    <link rel="stylesheet" href="css/style.css">
    <!-- PER IL MIO CSS -->

    <script defer src="js/script.js" charset="utf-8"></script>
    <!-- PER IL MIO JS -->

  </head>
  <body>

    <main id="to-do-list">
    <!-- uso il main come riferimento per Vue -->
      <section class="up">
      <!-- sezione in cui l'utente inserisce i nuovi elementi della lista -->
        <div class="title">
        <!-- logo, che fa anche da titolo -->
          <img src="img/logo.png" alt="logo">
        </div>

        <div class="input">
        <!-- input text e button -->
          <input type="text" v-model="textInput" name="" value="" placeholder="Nuovo Todo" autocomplete="off">
          <!-- v-model collega il testo che viene inserito alla variabile textInput in Vue -->
          <button type="button" name="button" @click="addToToDoListArray">Aggiungi</button>
        </div>
      </section>

      <section class="down">
      <!-- sezione in cui compaiono gli elementi inseriti dall'utente -->
        <ul>
          <li
          v-for="(element, index) in toDoListArray" @click.stop="color(index)" v-bind:class="element.colored ? 'green' : null">
            {{element.text}}
            <a href="#" @click.stop="removeToToDoList(index)">X</a>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
